/*SPECTRAL*/
@font-face {font-family: Spectral; src: url("fonts/Spectral/Spectral-Regular.ttf")}
@font-face {font-family: Spectral; font-weight: bold; src: url("fonts/Spectral/Spectral-Bold.ttf")}
@font-face {font-family: Spectral; font-style: italic; src: url("fonts/Spectral/Spectral-Italic.ttf")}
