body{
    font-family: Spectral;
    background-color:white;
    color: black;
}

bold {
    font-style: bold;
}

.product {
    outline-style: solid;
    outline-color: black;
    outline-offset: 1px;
    outline-width: 3px;
}

.download {
    position: block;
}

